/*=====================================================================
==========================   About scss  =========================
========================================================================*/

.about {
    &-content {
        text-align: center;
        margin-top: 5rem;

        h3 {
            color: #2A2A2C;
            font-size: 3rem;
            transition: color .5s;

            &.color {
                color: $white;
                transition: color 1s ease-in-out;
            }
        }

        a {
            display: inline-block;
            margin-top: 3.125rem;
        }
    }
}

