/*=====================================================================
==========================   About scss  =========================
========================================================================*/

.about {
    &-content {
        text-align: center;

        h3 {
            color: #2A2A2C;
            font-size: 3rem;
            margin-bottom: 3.125rem;
        }

        a {}
    }
}