.blog {
    &_img {
        width: 24.688rem;
        height: 24.688rem;
        overflow: hidden;
        border-radius: 20px;
        position: relative;

        @media (max-width:1798px) {
            width: 21rem;
            height: 21rem;
        }

        @media (max-width:1199px) {
            width: 18rem;
            height: 18rem;
        }

        @media (max-width: 991px) {
            width: 100%;
            height: auto;
            margin-bottom: 2rem;
        }

        img {
            height: 100%;
            width: auto;
            object-fit: cover;
            transition: .5s;

            @media (max-width: 991px) {
                width: 100%;
                height: auto;
            }
        }
    }

    &_content {
        &-date {
            p {
                color: $txt3;
                margin-bottom: 2.313rem;
                font-size: 0.75rem;
            }
        }



        h3 {
            color: $white;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .btn-custom {
            margin-bottom: 2rem;
            height: 52px;
            padding: 17px 2.5rem 13px;
            border: 1px solid $txt2;
            border-radius: 20px;
            font-size: 0.75rem;

            &:hover {
                background-color: $orange;
                color: $white;
                border-color: $orange;
            }
        }

        .user {
            display: flex;
            gap: 1rem;
            align-items: center;

            &-img {
                width: 48px;
                height: 48px;
                overflow: hidden;
                border-radius: 100%;

                img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                }
            }

            &-info {
                p {
                    color: $white;
                }

                h6 {
                    margin-bottom: 0;
                }
            }
        }
    }

    &:hover {
        .blog {
            &_img {

                img {
                    scale: 1.1;
                }
            }

            &_content {
                .btn-custom {
                    background-color: $orange;
                    color: $white;
                    border-color: $orange;
                }
            }
        }
    }

    &-insight {
        max-width: 458px;
        background: #131313;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 3rem;
        position: sticky;
        top: 65px;

        @media (max-width: 1365px) {
            padding: 2rem 1.5rem;
        }

        @media (max-width: 991px) {
            margin: 0 auto 2rem;
            max-width: 100%;
        }

        h1 {
            color: $white;
            @include nohemi(medium);
            margin-bottom: 0.75rem;
            letter-spacing: 0.05rem;

            small {
                @include nohemi(regular);
                display: block;
            }
        }

        h6 {
            font-size: 1rem;
            @include nohemi(regular);
            font-weight: 400;
            color: $active;
            letter-spacing: 0.05rem;
            margin-bottom: 4.5rem;
            line-height: 1.5rem;
        }

        h5 {
            color: $active;
            margin-bottom: 2.688rem;

            span {
                color: $orange;
            }
        }

        p {
            margin: 0 auto 2rem;
            display: block;
            text-align: center;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $txt2;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
            }

            &.or {
                span {
                    text-transform: uppercase;
                    display: inline-block;
                    background-color: #131313;
                    color: $txt2;
                    position: relative;
                    z-index: 9;
                    padding: 0 1rem;
                }
            }
        }

        .btn-custom {
            @include nohemi(semibold);

            &:hover {
                background-color: $orange;
                border-color: $orange;
                // color: $blk;
            }
        }
    }

    &Page {
        &-img {
            height: 47.063rem;
            overflow: hidden;
            border-radius: 12px;
            background-size: cover;
            background-position: center;
            margin-bottom: 4rem;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        &-sec {
            h3 {
                font-size: 3rem;
                color: $white;
                letter-spacing: 0.05rem;
                line-height: 3rem;
                @include nohemi(medium);
                margin-bottom: 1.5rem;
            }

            p {
                color: #C4C6CC;
                letter-spacing: 0.05rem;
                font-size: 1.125rem;
                line-height: 2rem;
                margin-bottom: 2rem;
            }

            .img-style {
                border-radius: 12px;

                img {}
            }

            img {
                border-radius: 12px;
                margin-bottom: 3.75rem;
            }

            h4 {
                color: $white;
                letter-spacing: 0.05rem;
                @include nohemi(medium);
                line-height: 3rem;
                margin-bottom: 3.75rem;
            }

            .hilight_txt {
                font-size: 2.25rem;
                color: $white;
                letter-spacing: 0.05rem;
                @include nohemi(medium);
                line-height: 3rem;
                padding: 3.875rem 0;
                border-top: 1px solid $bg;
                border-bottom: 1px solid $bg;
                margin-bottom: 3.75rem;

                h4 {
                    margin-bottom: 0;
                    border-left: 11px solid $orange;
                    padding-left: 3rem;
                }
            }
        }
    }
}

.share {
    padding: 1.75rem 0;
    position: relative;
    border-top: 1px solid #2A2A2C;

    p {
        letter-spacing: 0.05rem;
        color: $white;
        line-height: 1rem;
        @include nohemi(semibold);
        margin-bottom: 1rem;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 10px;

        li {
            a {
                font-size: 1.125rem;
                width: 3.563rem;
                height: 3.563rem;
                background: $bg;
                border-radius: 8px;
                color: $active;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $orange;
                    color: $white;
                }

                i {}
            }
        }
    }
}


.pos-rel {
    position: relative;
    overflow: hidden;

    .img-parallax {
        position: relative;
        left: 43%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none
    }
}

.meta {
    margin-bottom: 2.813rem;

    ul {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        flex-wrap: wrap;

        @media (max-width:1199px) {
            flex-direction: column;
            align-items: baseline;
        }

        li {
            a {
                background: $bg;
                border-radius: 2000px;
                color: $white;
                padding: 0.875rem 1.5rem;
                height: 2.625rem;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.875rem;
            }
        }
    }
}