/*=====================================================================
==========================   Client scss  =========================
========================================================================*/

.client {
    &-carousel {
        .item {
            a {
                img {
                    width: auto;
                    margin: 0 auto;
                    filter: grayscale(1);

                    &:hover {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

