.contact {
    background: $footerBg;
    border-radius: 32px 32px 0px 0px;
    padding: 4.375rem 0;
    margin-bottom: 0;

    &-header {
        background: $blk;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 7.313rem;
        padding: 4.375rem 6.875rem;
        margin-bottom: 0.75rem;
        overflow: hidden;

        @media (max-width: 991px) {
            flex-direction: column;
        }

        .heading {
            margin-bottom: 0;

            h1 {
                color: $white;
                letter-spacing: 0.05rem;
                margin-bottom: 4rem;

                span {}
            }

            .line {
                max-width: 1049px;
                background-color: #2A2A2C;
                border-radius: 4px;
                height: 1px;
            }
        }

        .roket {
            position: relative;
            width: 248px;
            height: 248px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-sec {
                width: 152px;
                height: 152px;
                margin: 0 auto;
                background-color: #2A2A2C;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .circle {
                position: relative;

                .circle-roted {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 220px;
                    height: 220px;
                    transform-origin: center;
                    animation: rotateText2 15s linear infinite;

                    .circular-text {

                        #showreel {
                            color: $white;
                            text-transform: uppercase;
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }

    &-form {
        .form {

            .row {
                .col-md-3 {
                    padding-right: 0;

                    &:last-child {
                        padding-right: calc(var(--bs-gutter-x) * .5);
                    }
                }

                &_custom {

                    &>* {
                        padding-left: 0.375rem;
                        padding-right: 0.375rem;

                        &:first-child {
                            padding-left: calc(var(--bs-gutter-x) * .5);
                        }

                        &:last-child {
                            padding-right: calc(var(--bs-gutter-x) * .5);
                        }

                        @media (max-width: 991px) {
                            &:nth-child(odd) {
                                padding-left: calc(var(--bs-gutter-x) * .5);
                            }

                            &:nth-child(even) {
                                padding-right: calc(var(--bs-gutter-x) * .5);
                            }
                        }

                        @media (max-width: 767px) {
                            padding-left: calc(var(--bs-gutter-x) * .5);
                            padding-right: calc(var(--bs-gutter-x) * .5);
                        }
                    }
                }
            }

            &-group {
                background: $blk;
                border-radius: 20px;
                padding: 2.5rem;
                margin-bottom: 0.75rem;

                &.focused {
                    background-color: $bg;
                }

                label {
                    font-size: 0.875rem;
                    color: $white;
                    margin-bottom: 5px;
                    min-height: 30px;

                    span {
                        font-size: 1.25rem;
                        color: $orange;
                        @include nohemi(bold);
                    }
                }

                textarea {
                    height: 203px;
                    resize: none;

                    @media (max-width: 991px) {
                        height: 150px;

                    }
                }

                &.custom-height {
                    height: 320px;

                    @media (max-width: 991px) {
                        height: 250px;

                    }

                    @media (max-width: 767px) {
                        height: auto;

                    }
                }

                .custom_submit {
                    position: relative;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .btn-submit {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 14px;
                    color: $white;
                    font-size: 1.125rem;
                    text-transform: uppercase;
                    margin: 0 auto;
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;

                    &.bg_orange {
                        background-color: $orange;
                        transition: .5s;

                        &:hover {
                            background-color: $blk;
                        }
                    }

                    &.disabled,
                    &[disabled] {
                        background-color: $blk;
                        pointer-events: auto ! important;
                        cursor: not-allowed ! important;
                    }

                    img {}
                }


            }

            &-control {
                background: transparent;
                border: none;
                padding: 0;
                color: $white;
                @include nohemi(medium);
                letter-spacing: 0.05rem;

                &::placeholder {
                    color: #8D8C98;
                    @include nohemi(regular);
                }
            }
        }
    }
}

@keyframes rotateText2 {
    0% {
        transform: translate(-50%, -50%) rotate(240deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(100deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(115deg);
    }

    35% {
        transform: translate(-50%, -50%) rotate(100deg);
    }

    40% {
        transform: translate(-50%, -50%) rotate(240deg);
    }

    45% {
        transform: translate(-50%, -50%) rotate(225deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(240deg);
    }
}