/*=====================================================================
==========================   FONTS  =========================
========================================================================*/

@font-face {
  font-family: 'Nohemi-Bold';
  src: url('#{$fontPath}/nohemi/Nohemi-Bold.woff2') format('woff2'),
  url('#{$fontPath}/nohemi/Nohemi-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi-Medium';
  src: url('#{$fontPath}/nohemi/Nohemi-Medium.woff2') format('woff2'),
  url('#{$fontPath}/nohemi/Nohemi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi-Regular';
  src: url('#{$fontPath}/nohemi/Nohemi-Regular.woff2') format('woff2'),
  url('#{$fontPath}/nohemi/Nohemi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi-SemiBold';
  src: url('#{$fontPath}/nohemi/Nohemi-SemiBold.woff2') format('woff2'),
  url('#{$fontPath}/nohemi/Nohemi-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi-Light';
  src: url('#{$fontPath}/nohemi/Nohemi-Light.woff2') format('woff2'),
  url('#{$fontPath}/nohemi/Nohemi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}