/*=====================================================================
==========================   Home scss  =========================
========================================================================*/

header,
section,
footer {
  @include full-width;
}

section,
.divider {
  margin-bottom: 6.25rem;
}

.heading {
  margin-bottom: 4.063rem;

  h1 {
    span {
      color: $orange;
    }
  }

  h2 {
    letter-spacing: 0.05rem;
  }

  h4 {
    letter-spacing: 0.12rem;

    span {
      color: $orange;
    }

    img {
      margin-right: 1rem;
    }
  }

  h3 {
    letter-spacing: 0.05rem;

    span {
      color: $orange;
    }
  }

  &-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn {
  &-custom {
    @include nohemi(medium);
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 2.063rem 2.5rem 1.813rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 61px;
    line-height: 0;
    border: 1px solid;
    border-radius: 1.5rem;
    letter-spacing: 1.5px;


    i {
      position: relative;
      top: -2px;
      margin-left: 1.125rem;
    }
  }
}

hr {
  margin: 1.35rem 0;
}

.bordeRadius {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 81px;
    bottom: -7.5rem;
    border-radius: 30px;
    width: 100%;
    z-index: 9999;
    background-color: $blk;
  }
}

.container-fluid,
.container,
.container-sm {
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1366px) {
    max-width: 1320px;
  }

  @media (min-width: 1799px) {
    max-width: 1720px;
  }
}

.container-fluid,
.container {
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container {
  @media (min-width: 1500px) {
    max-width: 1480px;
  }
}

.divider {
  @include full-width;
  border: 1px solid #2A2A2C;
  border-radius: 4px;
  height: 0;
}