/*=====================================================================
==========================   Progass scss  =========================
========================================================================*/

.prgass {
    &-section {
        position: relative;

        &:after,
        &::before {
            content: '';
            position: absolute;
            background-color: $gry;
            height: 2px;
            width: 100%;
            top: 21px;
            transition: 2.5s;

            @media (max-width: 767px) {
                content: none;
            }
        }

        &::before {
            width: 0;
            z-index: 9;
        }

        &.active {
            &::before {
                background-color: $white;
                width: 100%;
            }
        }

        .line {

            @media (max-width: 767px) {
                position: absolute;
                background-color: $gry;
                height: 89%;
                width: 2px;
                left: 36px;
            }
        }

        .pro-sec {
            overflow: hidden;

            @media (max-width: 767px) {
                display: flex;
                gap: 2rem;
                align-items: baseline;
                margin-bottom: 2rem
            }

            .dot {
                width: 44px;
                height: 44px;
                border: 2px solid $gry;
                @include border-radius(100%);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $blk;
                position: relative;
                z-index: 9;
                margin-bottom: 2.125rem;

                span {
                    min-width: 12px;
                    height: 12px;
                    background: $gry;
                    display: block;
                    @include border-radius(100%);
                    transition: .5s;
                }
            }

            h3 {
                font-size: 1.5rem;
                color: $txt;
                margin-bottom: 1rem;
            }

            ul {
                li {
                    font-size: 0.875rem;
                    margin-bottom: 2px;
                    color: $txt;
                }
            }
        }

        .act_dot {
            .dot {
                border-color: $white;
                border-width: 3px;

                span {
                    min-width: 24px;
                    height: 24px;
                    background-color: $orange;
                }
            }


            h3,
            ul li {
                color: $white;
            }
        }
    }
}

.posr {
    position: relative;
}