/*=====================================================================
==========================   Slider scss  =========================
========================================================================*/

.slider {
    margin-bottom: 0;
    position: relative;

    &-home {
        .item {
            height: 51.125rem;
            width: 100%;
            border-radius: 40px;
            overflow: hidden;
            position: relative;

            &:after {
                content: '';
                @include overlay;
                background: linear-gradient(0deg, rgba(42, 42, 44, 0.8), rgba(42, 42, 44, 0.8));
            }

            video {}

            &-content {
                @include img-center(both);
                text-align: center;
                z-index: 9;
                width: 55%;

                p {
                    @include nohemi(medium);
                    letter-spacing: 3px;
                }

                h2 {
                    @include nohemi(medium);
                    letter-spacing: 3px;
                    line-height: 1;
                    margin-bottom: 1.875rem;
                }

                a {
                    i {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}

.text-carousel {
    position: absolute;
    bottom: 0;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    max-width: 275px;
    margin: 0 auto;
    overflow: hidden;

    .item {
        position: relative;
        text-align: center;
        background-color: $blk;
        height: 66px;
        padding: 20px 24px;
        border-radius: 48px 48px 0 0;

        &:after,
        &:before {
            content: '';
        }

        p {
            color: $white;
            margin: 0;
            padding: 0;
            animation: txt 2s alternate infinite;
        }

        .line {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 14px;
            height: 3px;
            background-color: $orange;
            border-radius: 8px;
            bottom: 1rem;
            animation: line 1s alternate infinite;
        }
    }
}

@keyframes line {
    0% {
        bottom: 3rem;
    }

    100% {
        bottom: 1rem;
    }
}

@keyframes txt {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}