/*=====================================================================
==========================   support scss  =========================
========================================================================*/
.support {
    &-img {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, #DEE4F2, #DEE4F2);
        border-radius: 20px;
        position: relative;
        height: 100%;

        img {
            scale: 0.7;
            @include img-center(both);
            transform-origin: left top;

            @media (max-width: 991px) {
                position: static;
                transform-origin: center;
                transform: none;
            }
        }

        .btn-custom {
            position: absolute;
            bottom: 1.5rem;
            right: 1.5rem;
        }
    }

    &-content {
        background: $bg;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        border-radius: 1.25rem;
        padding: 6.875rem;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;

        @media (max-width: 1440px) {
            padding: 6.875rem 2.45rem;
        }

        @media (max-width: 991px) {
            margin-top: 2rem;
        }

        h3 {
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: 0.05rem;
            color: $white;
            @include nohemi(medium);
            margin-bottom: 1.25rem;
        }

        p {
            letter-spacing: 0.05rem;
            color: $txt3;
            line-height: 1.5rem;
        }

        ul {
            &.design-layout {
                margin-top: 4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 45px;

                @media (max-width: 575px) {
                    flex-direction: column;
                    min-height: auto;
                }

                img {
                    position: absolute;
                    right: -60px;
                }

                li {
                    position: relative;

                    @media (max-width: 575px) {
                        display: flex;
                        margin-bottom: 15px;
                    }

                    &:nth-child(odd) {
                        img {
                            bottom: -45px;

                            @media (max-width: 575px) {
                                bottom: -15px;
                                rotate: 90deg;
                                width: 60px;
                                left: -52px;
                            }
                        }
                    }

                    &:nth-child(even) {
                        img {
                            top: -45px;

                            @media (max-width: 575px) {
                                top: 45px;
                                rotate: 90deg;
                                width: 60px;
                                right: -52px;
                            }
                        }
                    }

                    a {
                        background-color: $white;
                        color: $black;
                        letter-spacing: 0.02rem;
                        padding: 0.938rem 1.875rem;
                        border-radius: 1000px;
                        transition: .5s;

                        @media (max-width: 575px) {
                            min-width: 170px;
                            text-align: center;
                        }

                        &:hover {
                            background-color: $orange;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    &-inline {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        @media (max-width: 1365px) {
            flex-direction: column;
        }

        .support-content {
            padding: 2.45rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2.75rem;
            margin-bottom: 0;
            margin-top: 0;

            @media (max-width: 425px) {
                flex-direction: column;
            }

            &-img {
                width: 96px;
                height: 96px;
                min-width: 96px;
                background: #1C1C1D;
                border-radius: 22px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-self: center;

                img {
                    height: 30px;
                    width: auto;
                    margin: 0 auto;
                }
            }

            h4 {
                font-size: 1.25rem;
                line-height: 2rem;
                letter-spacing: 0.05rem;
                color: $white;
            }
        }
    }

    &-send {
        position: relative;

        button {
            min-width: 190px;
            width: 190px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: none;
            gap: 16px;
            background: $orange;
            padding: 3rem;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            font-size: 1rem;
            color: $white;
            text-transform: uppercase;
            transition: .5s;

            @media (max-width: 1365px) {
                width: 100%;
            }

            &:hover {
                background-color: $blk;
            }

            img {}

            span {}
        }
    }

    &-wave {
        position: absolute;
        right: 5%;
        top: 9%;

        span {
            @include border-radius(100%);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:first-child {
                width: 1.7rem;
                height: 1.7rem;
                background: $txt2;
            }

            &:nth-child(2) {
                width: 11.9rem;
                height: 11.9rem;
                background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 41.71%, rgba(255, 255, 255, 0.05) 100%);
            }

            &:nth-child(3) {
                width: 20.196rem;
                height: 20.196rem;
                background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 61.98%, rgba(255, 255, 255, 0.04) 100%);
            }

            &:nth-child(4) {
                width: 29.125rem;
                height: 29.125rem;
                background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 62.5%, rgba(255, 255, 255, 0.02) 100%);
            }
        }
    }
}