/*=====================================================================
==========================   Theme color scss  =========================
========================================================================*/
.header-lgTheme .lauguage select,
.header {
    background-color: $blk;
}

.header-lgTheme .lauguage select,
.header-shy h6,
.footer-section h4,
.footer-link ul li a,
.footer-link ul li,
.heading h4,
.heading h3,
.slider-home .item-content p,
.slider-home .item-content h2,
.mainNav ul li a {
    color: $white;
}

.btn {
    &-custom {
        color: $white;
        background-color: transparent;

        &:hover {
            color: #242728;
            background-color: $white;
        }
    }

    &-bg {
        background-color: $white;
        border-color: $white;
        color: #242728;

        &:hover {
            color: $white;
            background-color: transparent;
        }
    }
}


.light {
    background-color: $white;

    .header-lgTheme .lauguage select,
    .footer,
    .header,
    .mainNav ul,
    .count-box .box,
    .count-box .box .top span.circle:first-child,
    .bordeRadius:before,
    .contact-header,
    .contact-form .form-group,
    .contact-form .form-group .btn-submit.disabled,
    .contact-form .form-group .btn-submit[disabled] {
        background-color: $white;
    }

    .mainNav ul {
        box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
        border-color: $white;
    }

    .header-lgTheme .lauguage select,
    .header-shy h6,
    .footer-section h4,
    .footer-link ul li a,
    .footer-link ul li,
    .heading h4,
    .heading h3,
    .footer-logo h6,
    .slider-home .item-content p,
    .slider-home .item-content h2,
    .mainNav ul li a,
    .about-content h3.color,
    .count-box .box4 p,
    .project-grid .content-style a,
    .select-selected,
    .text-carousel .item p,
    .service-box h6,
    .bg_black .heading h2,
    .leftNewbtn a,
    .support-content h3,
    .support-inline .support-content h4,
    .contact-header .heading h1,
    .circle_sec svg textPath,
    .contact-form .form-group label,
    .contact-form .form-group .btn-submit,
    .service_page-box .ser-content p,
    .service_page-box .ser-content h3,
    .meta ul li a,
    .filters ul li,
    .filter-content-item .project-name h4,
    .filter-content-item .project-desc p,
    .banner-sec h3,
    .blog-insight h1,
    .blog-insight h6,
    .blog-insight h5,
    .blog_content h3,
    .blog_content .user-info p,
    .contactPage-sec h1,
    .contactPage-sec .box a,
    .contactPage-sec .box h4,
    .behind-scenes h4,
    .behind-scenes .right-sec p,
    .behind-scenes .right-sec li,
    .behind-scenes .right-sec p a,
    .behind-scenes .right-sec li a,
    .count-box .box h3,
    .banner-blog h3,
    .banner-blog p,
    .banner-blog .blog .user-detail p,
    .blogPage-sec h3,
    .blogPage-sec h4,
    .share ul li a,
    .banner-agency h1,
    .agency-slide ul li a,
    .agc2-box h3 {
        color: $txt;
    }

    .contact-form .form-group .btn-submit img {
        filter: invert(50%);
    }

    .circle_sec svg textPath {
        fill: $txt;
    }

    .about-content h3 {
        color: #dbdbdb;
    }

    .leftNewbtn.active a,
    .contact-form .form-group.focused label,
    .filters ul li:hover,
    .filter-content-item:hover .project-desc a {
        color: $white;
    }

    .count-box .box:hover .bottom p,
    .unlock-skill.active h1,
    .unlock-skill.active h3 {
        color: $blk;
    }

    .mainNav ul li.active a,
    .prgass-section.active::before {
        color: $white;
        background-color: $bg;
    }

    .btn-custom {
        color: $txt;
        background-color: transparent;
        border-color: $txt;

        &:hover {
            color: $white;
            background-color: $txt;
        }
    }

    .select-selected.select-arrow-active,
    .select-items,
    .header-lgTheme:before,
    .support-inline .support-content-img,
    .contact-form .form-group.focused,
    .filters ul li:hover,
    .blog-insight p:after,
    .banner-project .banner-content {
        background-color: #717171;
    }

    .contactPage-sec .box .line,
    .agency-slide .border-xy,
    .agency-slide {
        border-color: #717171;
    }

    .service,
    .support-content,
    .contact,
    .meta ul li a,
    .contact-header .roket-sec,
    .service_page-box .ser-img,
    .banner-service,
    .filters ul li,
    .banner-sec,
    .blog-insight,
    .blog-insight p.or span,
    .contactPage-sec .box,
    .behind .container-fluid,
    .banner-project .date-deliver h6,
    .banner-project-bg,
    .share ul li a,
    .contact-header .heading .line,
    .bg-blk,
    .agc2-box .img-style {
        background-color: #d8d8d8;
    }

    .service_page-box,
    .header.sticky,
    .banner-blog .blog,
    .share,
    .blogPage-sec .hilight_txt,
    .contactPage-sec .box-border {
        border-color: #d8d8d8;
    }

    .bg_black {
        background-color: $active;
    }

    .text-carousel {
        background-image: url(../img/bg-slider-wh.png);
        border-radius: 48px 48px 0 0;
    }

    .banner-project .banner-content::before {
        background-image: url(../img/patton-bg-wh.svg);
        opacity: 0.15;
    }

    .divider,
    .prgass-section .act_dot .dot {
        border-color: $txt;
    }

    .slider-home .item:after {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    }

    .support-img {
        background: linear-gradient(0deg, #d8d8d8, #d8d8d8), linear-gradient(0deg, #DEE4F2, #DEE4F2);

    }

    .count-box .box .top span.circle:nth-child(2) {
        background: radial-gradient(50% 50% at 50% 50%, rgb(242 242 242) 41.71%, rgb(255 255 255) 100%);
    }

    .count-box .box .top span.circle:nth-child(3) {
        background: radial-gradient(50% 50% at 50% 50%, rgb(227 227 227) 50%, rgb(242, 242, 242) 100%);
    }
}