/*=====================================================================
==========================   Theme color scss  =========================
========================================================================*/
.header-lgTheme .lauguage select,
.header {
    background-color: $blk;
}

.header-lgTheme .lauguage select,
.header-shy h6,
.footer-section h4,
.footer-link ul li a,
.footer-link ul li,
.heading h4,
.heading h3,
.slider-home .item-content p,
.slider-home .item-content h2,
.mainNav ul li a {
    color: $white;
}

.btn {
    &-custom {
        color: $white;
        background-color: transparent;

        &:hover {
            color: #242728;
            background-color: $white;
        }
    }

    &-bg {
        background-color: $white;
        border-color: $white;
        color: #242728;

        &:hover {
            color: $white;
            background-color: transparent;
        }
    }
}


.light {
    background-color: $white;

    .header-lgTheme .lauguage select,
    .footer,
    .header,
    .mainNav ul,
    .count-box .box {
        background-color: $white;
    }

    .mainNav ul {
        box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
        border-color: $white;
    }

    .header-lgTheme .lauguage select,
    .header-shy h6,
    .footer-section h4,
    .footer-link ul li a,
    .footer-link ul li,
    .heading h4,
    .heading h3,
    .footer-logo h6,
    .slider-home .item-content p,
    .slider-home .item-content h2,
    .mainNav ul li a,
    .about-content h3.color,
    .count-box .box4 p,
    .project-grid .content-style a {
        color: $txt;
    }

    .about-content h3 {
        color: #dbdbdb;
    }

    .count-box .box:hover .bottom p,
    .unlock-skill.active h1,
    .unlock-skill.active h3 {
        color: $blk;
    }

    .mainNav ul li.active a,
    .prgass-section.active::before {
        color: $white;
        background-color: $bg;
    }

    .btn-custom {
        color: $txt;
        background-color: transparent;
        border-color: $txt;

        &:hover {
            color: $white;
            background-color: $txt;
        }
    }

    .divider,
    .prgass-section .act_dot .dot {
        border-color: $txt;
    }

    .slider-home .item:after {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    }
}