/*=====================================================================
==========================   All Variable scss  =========================
========================================================================*/

$white: #ffffff;
$black: #000000;
$blk: #1C1C1D;


$orange: #FF9838;
$bg: #242425;
$border: #2A2A2C;
$bg2: #131313;
$txt: #717171;
$txt2: #48484E;
$txt3: #8D8C98;
$footerBg: #111112;
$active: #F5F5F5;
$boxshadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
$gry: #404040;


$fontPath: '../fonts';